<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Co-ARi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">

    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<script type="text/javascript">
     function time(){
      var time= new Date().format("yyyy-mm-dd hh:mm:ss"); //시간받기위해서 new date
      document.getElementById("now").value = new Date().format("yyyy-mm-dd hh:mm:ss");;
      }
</script>

<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
        <h1 id="colorlib-logo"><a th:href="@{/}">Co-ARi<span>.</span></a></h1>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li><a th:href="@{/}">홈</a></li>
                <li><a th:href="@{/alarm}">알람 전송</a></li>
                <li><a th:href="@{/room}">건물 인식</a></li>
                <li class="colorlib-active"><a th:href="@{/company}">졸업 명예의 전당</a></li>
            </ul>
        </nav>

        <div class="colorlib-footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
            document.write(new Date().getFullYear());
          </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <ul>
                <li><a th:href="@{/login}"><img src="images/login.png" style="width:10%"/> 로그인</a></li>
            </ul>
            <ul>
                <li>
                    <br />
                    <input type="button" id="btn-notice-load" value="공지사항 크롤링"/>
                    <input type="button" id="btn-news-load" value="학과소식 크롤링"/>
                </li>
            </ul>
        </div>
    </aside> <!-- END COLORLIB-ASIDE -->
    <div id="colorlib-main">
        <section class="ftco-section-2" style="margin-left:5%">

            <form method="post" action="">
                <div style="margin-bottom:3%; margin-top:10%">
                    이미지 : <input id="imgae" type="file" />
                    이름 : <input type="text" id ="name" size="20px" required/><br/>
                </div>
                <div style="margin-bottom:3%">
                    인터뷰 내용 : <textarea cols="50" rows="10" id="interview_content"></textarea>
                    회사 이름 : <input type="text" id ="company" size="20px"/><br/>
                    회사 정보 : <input type="text" id ="companyInfo" size="20px"/><br/>
                    업무 : <textarea cols="50" rows="10" id="work"></textarea>
                </div>
                <div style="margin-bottom:3%; margin-top:10%">
                    <input type="button" value="Submit" id="btn-save">
                </div>
            </form>
        </section>

        <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container px-md-5">
                <div class="row mb-5">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Have a Questions?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text">부산광역시 부산진구 가야3동 엄광로 176</span></li>
                                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">051-890-1987</span></a></li>
                                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- END COLORLIB-MAIN -->
</div><!-- END COLORLIB-PAGE -->

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
</svg>
</div>


<script src="js/app/jquery.min.js"></script>
<script src="js/app/jquery-migrate-3.0.1.min.js"></script>
<script src="js/app/popper.min.js"></script>
<script src="js/app/bootstrap.min.js"></script>
<script src="js/app/jquery.easing.1.3.js"></script>
<script src="js/app/jquery.waypoints.min.js"></script>
<script src="js/app/jquery.stellar.min.js"></script>
<script src="js/app/owl.carousel.min.js"></script>
<script src="js/app/jquery.magnific-popup.min.js"></script>
<script src="js/app/aos.js"></script>
<script src="js/app/jquery.animateNumber.min.js"></script>
<script src="js/app/bootstrap-datepicker.js"></script>
<script src="js/app/jquery.timepicker.min.js"></script>
<script src="js/app/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/app/google-map.js"></script>
<script src="js/app/main.js"></script>
<script src="js/app/alarm.js"></script>
<script src="js/app/realarm.js"></script>
<script type="text/javascript">


    const browseBtn = document.querySelector('.browse-btn');
    const realInput = document.querySelector('#real-input');

    browseBtn.addEventListener('click', () => {
      realInput.click();

      function readInputFile(e) {
        var sel_files = [];

        sel_files = [];
        $('#imagePreview').empty();

        var files = e.target.files;
        var fileArr = Array.prototype.slice.call(files);
        var index = 0;

        fileArr.forEach(function(f) {
          if (!f.type.match("image/.*")) {
            alert("이미지 확장자만 업로드 가능합니다.");
            return;
          };
          if (files.length < 11) {
            sel_files.push(f);
            var reader = new FileReader();
            reader.onload = function(e) {
              var html = `<a id=img_id_${index}><img src=${e.target.result} data-file=${f.name} /></a>`;
              $('imagePreview').append(html);
              index++;
            };
            reader.readAsDataURL(f);
          }
        })
        if (files.length > 11) {
          alert("최대 10장까지 업로드 할 수 있습니다.");
        }
      }

      $('#real-input').on('change', readInputFile);
    });
  </script>
</body>

</html>