{{>layout/header}}

<h1>&nbsp;&nbsp;Co-ARi Test용 Web</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/alarms/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>알림 번호</th>
            <th>알림 제목</th>
            <th>작성자</th>
            <th>수신 시간</th>
            <th>읽음 여부</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#alarms}}
            <tr>
                <td>{{alarm_id}}</td>
                <td><a href="alarms/update/{{alarm_id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{send_time}}</td>
                <td>{{read_mark}}</td>
            </tr>
        {{/alarms}}
        </tbody>
    </table>
</div>

{{>layout/footer}}